/java poo/Aula03/nbproject/private/
/java poo/Aula03/build/
/java-poo/Aula04/nbproject/private/
/java-poo/Aula04/build/
/java-poo/ExercicioBanco/nbproject/private/
/java-poo/ExercicioBanco/build/
/java-poo/Aula06/nbproject/private/
/java-poo/Aula06/build/
/java-poo/UltraEmojiCombat/nbproject/private/
/java-poo/UltraEmojiCombat/build/
/java-poo/Exercicio09b/nbproject/private/
/java-poo/Exercicio09b/build/
/java-poo/ProjetoPessoas/nbproject/private/
/java-poo/ProjetoPessoas/build/
/java-poo/Aula11/nbproject/private/
/java-poo/Aula11/build/
/java-poo/Aula12/nbproject/private/
/java-poo/Aula12/build/
/java-poo/Aula13/nbproject/private/
/java-poo/Aula13/build/
/java-poo/ProjetoYouTube/nbproject/private/
/java-poo/ProjetoYouTube/build/
